---
---

<h1>Welcome</h1>

<p>This file listed below contains front-matter in order to be excluded from the sitemap.  The by-product of this; however, is that the include and include_relative tags do not hide/render the front-matter.</p>
<p>To visually make this point, I'm including it wrapped in a well below.  The front-matter is clearly visible.</p>
<div style="background: #EFEFEF; border: solid 1px #CCC;">
  {% include_relative test1.html fromInclude="true" %}  
</div>

<br />

<div style="background: #EFEFEF; border: solid 1px #CCC;">
  {% include test4.html fromInclude="true" %}
</div>
